body {
background-color: #000;
font-family: 'Open Sans', sans-serif;
color: #fff;
text-align:center;
font-size:1em;
}

#date, #time {
    color: #222;
    font-weight: 300;
    font-size: 200%;
}

.banner img{
    max-width:80% !important;
    height:auto;
    display:block;
}

