body {
background-color: #000;
font-family: 'Open Sans', sans-serif;
color: #fff;
font-size:1em;
}

#date, #time {
    color: #d8d8d8;
    font-weight: 300;
    font-size: 200%;
    text-align:center;
}

p {
    font-weight: 300;
    text-align:center;
}

.banner img{
    max-width:80% !important;
    height:auto;
    display:block;
}

